<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>General Form</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">General Form</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content-header">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="row p-2 m-2">
        <button type="button" class="btn btn-primary" (click)="addNote()" >
          บันทีก Note
        </button>
        <button type="button" class="btn btn-warning" (click)="addTag()" style="margin-left: 10px;">
          เพิ่ม Tag
        </button>
    </div>
    <div class="row p-2 m-2">
      <div class="col-lg-6">
        <div class="form-group">
          <label>
            ค้นหา
          </label>
          <input class="form-control" [(ngModel)]="keyword">
        </div>
        <button class="btn btn-outline-primary" (click)="findByKeyword()">
          ค้นหา
        </button>
      </div>
    </div>
    </div>
   

    <div class="card card-primary">

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless" width="100%">
              <thead>
                <tr>
                  <th class="text-left">
                    Note Name
                  </th>
                  <th width="100px" class="text-center">

                  </th>
                  <th class="text-center" width="200px">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of notes">
                  <td class="text-left">
                    {{item.note}}
                  </td>
                  <td class="text-center">
                      <input type="file"  (change)="selectFile($event)">
                  </td>
                  <td class="text-center" width="200px">
                    <button type="button" class="btn btn-warning"
                      (click)="edit(item)">
                      แก้ไข
                    </button>
                    <button type="button" class="btn btn-danger" (click)="delete(item.id)">
                      ลบ
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</section>



